#socialLinks {
    padding: 15pt 50pt 30pt 0;
}

#socialLinks ul {
    justify-content: end;
    list-style: none;
    display: flex;
    flex: wrap row;
    gap: 15pt;
}
#socialLinks ul li a {
    text-decoration: none;
}
.socialIcons:hover {
    fill: var(--accent-color);
}