.indexContainer {
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.indexItems {
    width: 100%;
    height: auto;
}

section#hero {
    background-size: cover; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
    min-height: 650px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#heroLeft, #heroRight {
    flex-basis: 50%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heroLeft {
    align-items: left;
    padding-left: 100pt;
}

#heroLeft p {
    font-size:28pt;
}
#heroLeft #myName {
    font-size:40pt;
    font-family: serif;
    margin: 5px 0px 20px 0px;
}
#heroLeft #careerTitle {
    font-size: 30pt;
    font-family: monospace;
}

#heroLeft #careerTitleContainer {
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 10pt 15pt;
    margin: 10pt 50pt 10pt 0;
    min-height:55pt;
}

#heroRight .profileImg {
    width:300pt;
    height:300pt;
    border-radius: 50%;
    margin:auto;
    padding:auto;

    background: url("../public/images/tech-1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position-y: -20pt;
    background-position-x: -20pt;
    background-size: 108% auto;
}

#about, #projects {
    background: var(--accent-color10);
    border-radius: 10pt;
    width:95%;
    margin:auto;
    margin-bottom:50pt;
    padding: 50px 50pt;
    justify-content: center;
}
#about p, #projects p  {
    font-size:18pt;

}

.aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10pt 40pt;
}

.aboutItem {
    flex-basis:40%;
    margin: 20pt;
}

.sectionTitle {
    font-size:40pt;
    font-family: serif;
    margin-top: 10pt;
    margin-bottom: 10pt;
}
.centralText {
    text-align: center;
}

#projects h1 {
    text-align: center;
}

.projectContainer {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectContainer .projectItem {
    background: linear-gradient(to right, var(--accent-color10), var(--accent-color));
    border: 2px solid var(--cyan);
    border-radius: 10pt;
    margin:10px 0;
    padding:10pt;
    width:60%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition:0.2s;
}

.projectContainer .projectItem:hover {
    transform: scale(1.05);
    transition:0.2s;
}

.projectContainer .projectItem .projectItemText {
    flex:70%;
    padding-left: 20px;
}
.projectContainer .projectItem .projectItemText h3 {
    font-size: 28pt;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.projectContainer .projectItem .projectItemText h3 span {
    font-size: 20pt;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--cyan);
}
.projectContainer .projectItem .projectItemText p {
    font-weight: 300;
}
.projectContainer .projectItem .projectItemText p.projectItemDate {
    padding-top: 10pt;
    border-top: 1px solid var(--cyan);
    font-size:15px;
    opacity: 80%;
    font-weight: 300;
    letter-spacing: 2px;
}
.projectContainer .projectItem .projectItemText p.projectItemLink a {
    padding-top: 10pt;
    font-style: italic;
    color: var(--cyan);
}
.projectContainer .projectItem .projectItemText p.projectItemLink a:visited {
    opacity: 50%;
}

.projectContainer .projectItem .projectItemText p.projectItemLink a:hover {
    color: var(--violet-light);
    cursor:help;
}


.projectContainer .projectItem .projectItemImg {
    flex:30%;
}
.projectContainer .projectItem .projectItemImg>figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.projectContainer .projectItem .projectItemImg>figure>img {
    width:80%;
    height:auto;
}

.projectContainer .projectItem .projectItemImg>figure>figcaption {
    width:80%;
    color: var(--cyan);
}



/*RESPONSIVE CSS*/

@media only screen and (max-width:800px) {
    section#hero {
        max-height: (100vh-60px);
        overflow: hidden;
        flex-direction: column;
    }    
    #heroLeft, #heroRight {
        height:50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    #heroLeft {
        align-items: left;
        padding: 30pt 0pt 30pt 50pt;
    }
    #heroLeft #careerTitle {
        font-size:22pt;
    }
    #heroLeft #careerTitleContainer {
        width:max-content;
    }

    #heroRight {
        flex-wrap: wrap;
        width: 100%;
    }
    #heroRight .profileImg {
        min-height:80pt;
        max-width:100%;
        align-items: end;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10pt 20pt;
    }

}

